@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body,
html {
  font-family: "Roboto", sans-serif;
  background-color: #d4e1e7;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #383838 #d4e1e7;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #e2e2e2;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  border-bottom: 5px solid #3aaee3;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #4b4a4a;
}

.Mui-focused {
  color: #2e2e2e !important;
}

/* Product BG */
.products {
  background-color: #d4e1e7;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%231a6ea6' fill-opacity='0.06'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

footer {
  background: url("/Footer.svg") bottom / contain no-repeat;
}

@media (min-width: 992px) {
  footer {
    background: url("/Footer.svg") bottom / cover no-repeat;
  }
}

.shadow-brand:hover {
  filter: drop-shadow(-6px 10px 26px rgba(42, 154, 218, 0.45));
}

/* About Page */
.main-commit {
  filter: drop-shadow(-6px 10px 13px rgba(42, 154, 218, 0.45));
}
.main-commit:hover {
  filter: drop-shadow(-6px 10px 26px rgba(42, 154, 218, 0.45));
}
.side-commit:hover {
  filter: drop-shadow(-6px 10px 16px rgba(42, 154, 218, 0.15));
}

p.arrow::after {
  content: "";
  background-image: url("/arrow.png");
  background-repeat: no-repeat;
  width: 62px;
  height: 62px;
  display: block;
  top: calc(50% + 1.6rem);
  right: calc(50% - 7rem);
  position: absolute;
}
div.question::after {
  content: "";
  background-image: url("/Questions.png");
  background-repeat: no-repeat;
  width: 230px;
  height: 230px;
  display: block;
  bottom: calc(50% - 1rem);
  left: calc(50% - 0.5rem);
  position: absolute;
  transform: scale(0.6);
}

@media (min-width: 506px) {
  div.question::after {
    content: "";
    background-image: url("/Questions.png");
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    display: block;
    bottom: calc(50% - 2rem);
    left: calc(50% + 3rem);
    position: absolute;
    transform: scale(0.6);
  }
  p.arrow::after {
    content: "";
    background-image: url("/arrow.png");
    background-repeat: no-repeat;
    width: 62px;
    height: 62px;
    display: block;
    top: calc(50% + 2rem);
    left: calc(50% - 0.5rem);
    position: absolute;
  }
}
@media (min-width: 780px) {
  div.question::after {
    content: "";
    background-image: url("/Questions.png");
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    display: block;
    bottom: calc(50% - 4rem);
    left: calc(50% + 8rem);
    position: absolute;
    transform: scale(0.8);
  }
  p.arrow::after {
    content: "";
    background-image: url("/arrow.png");
    background-repeat: no-repeat;
    width: 62px;
    height: 62px;
    display: block;
    top: calc(50% - 0.8rem);
    left: calc(50% - 7rem);
    position: absolute;
  }
}

.radial-gradient {
  background: radial-gradient(
    50% 1662.41% at 50% 50%,
    #5ebce6 0%,
    #3aaee3 100%
  );
}

/*Whatsapp Integration*/
.styles-module_chatHeader__gaeOA,
.styles-module_message__Z9MOV {
  background-color: #1a6ea6 !important;
}

.styles-module_triangle__K9ViC {
  border-color: transparent #1a6ea6 transparent transparent !important;
}

.styles-module_chatHeader__gaeOA .styles-module_avatar__afcc4:after {
  content: "";
  width: 12px !important;
  height: 12px !important;
  background: #26a8e4 !important;
  bottom: 7px !important;
  right: 9px !important;
}

.styles-module_whatsappChatBox__MdQ5U {
  font-family: "Roboto", sans-serif;
}

.styles-module_chatBody__VBxQH .styles-module_accountName__20AXD,
.styles-module_chatBody__VBxQH .styles-module_messageBody__9-hwo,
.styles-module_chatBody__VBxQH .styles-module_messageTime__MIwoR {
  color: #e2e2e2 !important;
}

.styles-module_notificationIndicator__gVmjV {
  border-radius: 50%;
  font-size: 11px !important;
  font-weight: 600 !important;
  color: white;
  background-color: #ff5454;
  padding: 1px !important;
  text-align: center;
  /* line-height: 14px; */
  width: 16px !important;
  height: 16px !important;
  position: absolute;
  top: -3px !important;
  right: 0px;
}

.styles-module_chatFooter__TGv0P form .styles-module_buttonSend__kXjja {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  padding-left: 6px;
  background: #2e2e2e;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
